<!-- <div class="container">
        <h1>QUOTE</h1>
        <hr>
      
        <div class="row">
          <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
              <div>
                <h6 id={{i}} appStrikethrough>{{quote.name}} due on {{goal.completeDate|date|uppercase}}</h6>
                <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
              </div>
      
              <div *ngIf='goal.showDescription'>
                <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <app-goal-form></app-goal-form>
          </div>
        </div> -->
        <div>
                <h1>QUOTES</h1>
                <hr>
                <ul>
                    <li *ngFor='let quote of quotes;let i = index'>
                      {{quote.quote}}
                      <br>
                      {{quote.Author}}
                      <app-quote-detail [quote]='quote'></app-quote-detail>
                      <button (click)='toggleDetails(i)'>Toggle Details</button>
                      <app-quote-detail *ngIf='quote.showVote' [quote]='quote'></app-quote-detail>
                    </li>
                </ul>
              </div>