  <div class="back">
                <h1>QUOTES</h1>
                <p>This app will help  post your quote by filling the form and add the<br>  new quote it will immediately land on the page based on what you have entered.</p>
                <hr>
                <ul>
                    <p><app-votes></app-votes></p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- <p appAppHighlight>{{quote.quote}}</p> -->
                        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
                      </div>
                                <div class="col-md-6">
                    <div *ngFor='let quote of quotes;let i = index'>
                      {{quote.quote}}
                      <br>
                      
                      <p appAppHighlight>Posted by: {{quote.name}} <br> The author: {{quote.author}} <br>posted in: {{quote.completeDate|timeAgo}}</p> 
                         <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail> 
                    </div>
                          </div>
                    
                                </div>          
                </ul>
                
              </div>