  <div class="back">
                <h1>QUOTES</h1>
                <hr>
                <ul>
                <div class="row">
                    <div class="col-md-6">
                        <!-- <p appAppHighlight>{{quote.quote}}</p> -->
                        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
                      </div>
                                <div class="col-md-6">
                    <div *ngFor='let quote of quotes;let i = index'>
                      {{quote.quote}}
                      <br>
                      
                      <p appAppHighlight>Posted by: {{quote.name}} <br> The author: {{quote.author}} <br>posted in: {{quote.completeDate|timeAgo}}</p> 
                      <!-- <app-quote-detail [quote]='quote'></app-quote-detail> -->
                      <!-- <button (click)='toggleDetails(i)'>More info</button> -->
                      <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail> 
                    </div>
                    <!-- <div *ngIf='quote.showVote'>
                            <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
                          </div> -->
                                </div>
                    
                                </div>          
                </ul>
                
              </div>