<div>
    <div>

      <div class="voting">
        {{ votes }}
      </div> 
      <div class="icon">
        Votes:
      </div>

    </div>

  </div>

  <div>

      <a>
      {{ title }}
      </a>

    <ul>
      <li class="icon1">
        <a href (click)="UpVote()">
        <i class="arrow up icon"></i>
          upvote
        </a>
      </li>

      <li class="icon1">
        <a href (click)="DownVote()">
        <i class="arrow down icon"></i>
          downvote
        </a>
      </li>

    </ul>
    <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete Quote</button>
  </div> 