<!-- <div class="container-fluid">
        <h1>Add new Quote:</h1>
        <form ng-submit="submitStudnetForm()" >
                <label for="name" >Names: </label><br />
                <input type="text" id="name" ng-model="Author.name" /> <br />
    
                <label for="quote" >Quote: </label><br />
          <textarea type="text" id="quote" ng-model="Author.quote" /></textarea> <br />
                <label for="date" >Date</label><br />
                    <input type="date" id="date" ng-model="student.DoB" /> <br /><br />
    
               
            <input type="submit" value="Submit" /> 
            <input type="reset" ng-click="resetForm()" value="Reset" /> <br />
    
        </form>
      </div> -->